$primary-text-color: lighten(#93A1A1, 25%);

$ui-base-color: #002B36;
$ui-base-lighter-color: lighten($ui-base-color, 30%);
$ui-primary-color: #93A1A1;
$ui-secondary-color: #2AA198;
$ui-highlight-color: #6C71C4;
$ui-simple-bg-contrast: lighten($ui-base-color, 30%);

$gold-star: #CB4B16;
