$primary-text-color: #F8F8F2;

$ui-base-color: #5A5475;
$ui-base-lighter-color: lighten($ui-base-color, 30%);
$ui-primary-color: #C2FFDF;
$ui-secondary-color: #FFB8D1;
$ui-highlight-color: #AFECAD;
$ui-simple-bg-contrast: #FFF352;

$gold-star: #FFF352;
$boosted-color: #C2FFDF;
