$color1: #282c37; // darkest
$color2: #E4E6DA; // lightest
$color3: #EBDC98; // lighter
$color4: #398CCC; // vibrant
$color5: #ffffff; // white
$color6: #FF003C; // error red
$color7: #A8BF34; // succ green
$color8: #000000; // black

@import 'application';
